*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(20, 2, 48);
    color: #fff;
}

.logo{
    width: 100vw;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.logo-1{
    width: 10rem;
    height: 10rem;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.7rem;
}

.text h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: -4rem;
    margin-bottom: 0.9rem;
}

.form{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.text-input{
    width: 23.5rem;
    height: 3.2rem;
    border-radius: 4px;
    border: none;
    background-color: rgb(49, 36, 100);
    color: #fff;
}

.entrar{
    width: 23.5rem;
    height: 3.2rem;
    border-radius: 4px;
    margin-top: 1rem;
    border: none;
    background-color: rgb(6, 91, 201);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.05rem;
    margin-top: 2rem;
    cursor: pointer;
    transition: .2s;
}

.entrar:hover{
    background-color: rgb(14, 107, 207);
}

.text-2{
    font-size: 0.9rem;
    margin-top: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.no{
    color: rgb(128, 123, 123);
}

.bold{
    cursor: pointer;
    transition: .4s;
}

.bold:hover{
    color: rgb(6, 91, 201);
    text-decoration-line: underline;
}

.copy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 16.6rem;
    background-color: #000;
    margin-top: 10rem;
}

.logo-2{
    width: 5rem;
    height: 5rem;
    background-color: transparent;
    margin-top: 1.6rem;
    margin-bottom: 1.5rem;
}

.span-1, .span-2, .span-3, .span-4{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: transparent;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.66rem;
    font-weight: bold;
}

.span-1, .span-2 span{
    cursor: pointer;
    transition: 0.5s;
}

.span-1 span:hover, .span-2 span:hover{
    color: #fff;
}

span{
    color: rgb(161, 156, 156);
    background-color: transparent;
}

.span-3{
    display: flex;
    flex-direction: row;
    text-align: center;
}

@media (max-width: 424px){
    .logo-2{
        margin-top: 3rem;
    }

    .copy{
        height: 19rem;
    }
}

@media (max-width: 385px){
    .copy{
        height: 22rem;
    }
}

@media (max-width: 446px){
    .span-1, .span-2, .span-3, .span-4{
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}

@media (max-width: 424px){
    .span-1, .span-2, .span-3, .span-4{
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }

    .logo-2{
        margin-top: -0.5rem;
    }
}

@media (max-width: 386px){
    .span-1 span, .span-2 span, .span-3 span , .span-4 span{
        font-size: 0.5rem;
    }
}

@media (max-width: 398px){
    .span-1, .span-2, .span-3, .span-4{
        font-size: 0.6rem;
    }

    .logo-2{
        margin-top: -2.3rem;
    }
}

@media (max-width: 350px){
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .text h3{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        font-size: 1.5rem;
        margin-left: 0.1rem;
    }

    .form input{
        width: 22rem;
        height: 3rem;
        border-radius: 4px;
        border: none;
        background-color: blue;
        margin-left: 0.1rem;
    }

    .entrar{
        width: 22rem;
        height: 3rem;
        border-radius: 4px;
        margin-top: 1rem;
        margin-left: 0.1rem;
    }
}

@media (max-width: 388px){
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .text h3{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        font-size: 1.5rem;
        margin-left: 2.2rem;
    }

    .form input{
        width: 16rem;
        height: 3rem;
        border-radius: 4px;
        border: none;
        background-color: blue;
        margin-left: rem;
    }

    .entrar{
        width: 16rem;
        height: 3rem;
        border-radius: 4px;
        margin-top: 1rem;
        margin-left: 0.1rem;
    }
}

@media (max-width: 320px){
    *{
        margin: 0.1rem;
    }
}
